*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-bottom: 2000px;
    position: relative;
}
h2{
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    position: sticky;
    top: 0%;
}
span{
    display: block;
}